*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#SettingsContainer{
    height: 100vh;
    background-color: #042c2e;
    color: #fffdf0;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#settingsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    font-size: 20px;
}
#skipSettingsSection{
    display: flex;
}
#skipSettingsSectionDiv{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    border: 1px solid;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 30px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    letter-spacing: 1.4px;
}
#skipIcon{
    margin: 0 6px;
}
#selectModeTitle{
    padding: 20px;
    margin-top: 30px;
}
.selectModeItemsDiv{
    height: 50px;
    background-color: #fffdf0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    color: #032327;
    margin: 10px 10px;
    border-radius: 4px;
    font-weight: 600;
}
.selectModeItemsImgDiv{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.selectModeItemsSelectOuter{
    border: 2px solid;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectModeItemsSelectInner{
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 50%;
}

#selectNumberOfPlayersTitle{
    padding: 20px;
    margin-top: 30px;
}
#numberOfPlayersInner{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 15px;
    font-weight: 600;
}
.numberOfPlayersItems{
    width: 100%;
    background-color: #fffdf0;
    color: #032327;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.numberOfPlayersImgDiv{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.numberOfPlayersSelectOuter{
    border: 2px solid;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numberOfPlayersSelectInner{
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 50%;
}
.playersInfoSection{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 0 15px;
    width: 100%;
    max-width: 1000px;
    
}
.playersInfoSectionItems{
    padding: 5px 10px;
    margin-bottom: 3px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    height: 40px;
    background-color: #fffdf0;
}
#grigSizeTitle{
    margin-top: 30px;
    padding: 20px;
}
#gridSizeInner{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.gridSizeItems{
    display: flex;
    justify-content: center;
    background-color: #fffce7;
    padding: 15px;
    margin: 10px;
    letter-spacing: 8px;
    border-radius: 3px;
    font-weight: 600;
}
#startGameSection{
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#startGameButton{
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    border: none;
}
#startGameButton:hover{
    border: 3px solid grey;
}
.settingsSections{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}