* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

#signupContainer,
#signInContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.signContainerInner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
}

#signupMenuIcon {
    top: 30px;
    right: 30px;
    position: absolute;
}

#signupMenu {
    display: flex;
}

#signupText,
#signinText {
    padding: 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#signupForm {
    width: 100%;
    padding: 15px;
    color: grey;
}

#signinForm {
    width: 100%;
    padding: 15px;
}

.signupMiniText,
.signinMiniText {
    font-size: 15px;
    margin-top: 25px;
}

#emailInput,
#nameInput {
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;

}

#confirmPasswordInput,
#passwordInput {
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    border: none;
    background-color: transparent;

}

.errorTexts {
    color: red;
    margin: 5px 0;
    margin-bottom: 15px;
    font-size: 15px;
}

#emailInputsignIn {
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
}

#passwordInputsignIn {
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    border: none;
    background-color: transparent;
}

#submitDiv {
    width: 100%;
    margin: 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

#submitDivSignin {
    width: 100%;
    margin: 0px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signupSubmitButton,
#signinSubmitButton {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #bebec8;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signupSubmitButton:hover,
#signinSubmitButton:hover {
    background-color: #444444;
    color: white;
}

.links2 {
    color: #4949ff;
    margin: 0 10px;
}

#signupExtras,
#signinExtras {
    padding: 0 15px;
    margin-top: 10px;
    font-size: 14px;
}

#refForgotPasssword {
    margin: 0;
    padding: 20px 0;
}

#forgotPasswordContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.resetPasswordBack {
    width: 25px;
    position: fixed;
    top: 15px;
    left: 15px;
}

#emailInputForgotPassword {
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    color: white;
}

#forgotPasswordDiv {
    margin: 30px 20px;
}

#forgotPasswordMiniText {
    font-size: 15px;
    margin: 3px 0;
}

#submitDivForgotPassword {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

#ForgotPasswordSubmitButton {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    font-weight: 600;
    font-size: 16px;
}

.inputContainer {
    display: flex;
    border-bottom: 2px solid grey;
}

.EYEImage {
    width: 24px;
    margin-left: 10px;
}