*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#leaderboardContainer{
    min-height: 100vh;
    background-color: #042c2e;
    /* overflow: auto; */
    color: #fffdf0;
}
.leaderboardContainers{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#leaderboardMenuIcon{
    margin-left: auto;
    margin-right: 30px;
    margin-top: 30px;
}
#leaderboardMenu{
    display: flex;
}
.leaderboardContainersTitle{
    text-align: center;
    margin: 40px 30px;
    font-size: 22px;
    font-weight: 500;
}
.leaderboardContainerTags{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}
.LCTitems{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top10Items{
    max-width: 800px;
    display: grid;
    grid-template-columns: 85% 15% ;
    align-items: center;
    margin: 25px auto;
}
.emailImageContainer{
    display: flex;
    align-items: center;
}
.top10ItemsImage{
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.avatarsImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}